[Unit]
Description=mopidy
After=syslog.target network.target

[Service]
Type=simple
User=mopidy
WorkingDirectory={{ venv_home }}
ExecStart={{ venv_home }}/mopidy --serve-in-foreground
Restart=on-abort
EnvironmentFile=/etc/sysconfig/mopidy.env

[Install]
WantedBy=multi-user.target
